<!--<nav class="navbar navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
            <span class="pull-left"><a href="http://johnpapa.net/spa" target="_blank">Learn how to build a SPA </a></span>
            <span class="pull-right"><a href="http://johnpapa.net/hottowel" target="_blank">Hot Towel SPA - © 2013 JohnPapa.net</a></span>
        </div>
    </nav>-->
<hr>
<div class="row">
    <div class="col-md-4">
        <a href="http://www.berlin.de/sen/strukturfonds/ab2007/efre/efre.html" target="_blank">
            <img src="http://openreskit.htw-berlin.de/sites/openreskit/files/efre.jpg" style="height: 55px" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="http://www.berlin.de/sen/wtf/" target="_blank">
            <img src="http://openreskit.htw-berlin.de/sites/openreskit/files/senwtf.gif" style="height: 55px" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="http://wohlgemuth.f2.htw-berlin.de/" target="_blank">
            <img src="http://openreskit.htw-berlin.de/sites/openreskit/files/logo_vw.png" style="height: 55px" />
        </a>
    </div>
</div>